.about-header {
    text-align: center;
    background-color: #5648A3;
    padding: 55px;
}

.about-header h1 {
    font-size: 2.875rem;
    font-weight: 300;
    color: #89D6F3;
    margin: 0;

}

.about-header p {
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
    margin: 0 0 16px;
}

.about-section-1 {
    text-align: center;
    padding: 40px 300px;
    background-color: #EAE6FF;

}

.about-section-1 p {
    font-size: 1.25rem;
    line-height: 3.118rem;
}

@media screen and (max-width: 1280px) {
    .about-section-1 {
        padding: 40px 250px;

    }

}

@media screen and (max-width: 1080px) {
    .about-header {
        padding: 45px;
    }

    .about-section-1 {
        padding: 40px 150px;

    }

}

@media screen and (max-width: 960px) {
    .about-section-1 {
        padding: 40px 125px;

    }

}

@media screen and (max-width: 768px) {
    .about-header h1 {
        font-size: 2.375rem;

    }

    .about-section-1 {
        padding: 40px 70px;

    }

}
@media screen and (max-width: 600px) {
    .about-section-1 {
        padding: 40px 30px;

    }
    .about-section-1 p {
        text-align: justify;

    }
}

@media screen and (max-width: 480px) {
    .about-header {
        padding: 45px 10px;
    }

    .about-section-1 {
        padding: 40px 15px;

    }

}

@media screen and (max-width: 360px) {

}

