{% load i18n  %}
<section class="hero">
    <div class="hero__slogan">
        <h1 class="hero__header">{% trans 'Become your Customers Favorite.' %}</h1>

    </div>
    <div class="hero__background-container"></div>
    <div class="row top-section">
        <div class="top-section__container">
            <ul class="hero__sub-header">
                <li>
                <span class="dot"></span>
                {% trans 'Be smart, creative and confident in customer satisfaction.' %}
                </li>
                <li>
                    <span class="dot"></span>
                    {% trans 'Receive valuable reactions from your customers with NPS.' %}
                </li>

                <li>
                    <span class="dot"></span>
                    <a class="md-btn mdl-js-button button-cta-sm learn-more"
                       href="{% if is_amp %}{% url 'videos:index-amp' amp %}{% else %}{% url 'videos:index' %}{% endif %}">
                        {% trans 'One Different Minute' %}
                    </a>
                </li>
            </ul>
            <a href="{% url 'users:sign-up' %}" class="button-cta button-action-primary">
                {% trans 'Free Sign Up' %}
            </a>
            <a
              href="https://demo.upkook.com"
              class="button-cta button-action-secondary"
              target="_blank"
            >
                {% trans 'Try Demo' %}
            </a>
        </div>
    </div>
</section>