{% load i18n  %}
<section class="hero">
    <div class="hero__slogan">
        <h1 class="hero__header">{% trans 'Become your Customers Favorite.' %}</h1>

    </div>
    <div class="hero__background-container"></div>
    <div class="row top-sec">
        <div class="top-sec_cont">
            <ul class="hero__sub-header">
                <li>
                <span class="dot"></span>
                {% trans 'Be smart, creative and confident in customer satisfaction.' %}
                </li>
                <li>
                    <span class="dot"></span>
                    {% trans 'Increase customer retention rates' %}
                </li>
                <li>
                <span class="dot"></span>
                {% trans 'Increase your sales by at least 25.' %}
                </li>
                <li>
                <span class="dot"></span>
                {% trans 'Measure customer satisfaction' %}
                </li>
                <li>
                <span class="dot"></span>
                {% trans 'Save up to 7x on your marketing costs.' %}
                </li>
            </ul>
            <a href="{% url 'users:sign-up' %}" class="button-cta button-action-primary">
                {% trans 'Free Sign Up' %}
            </a>
            <a
              href="https://demo.upkook.com"
              class="button-cta button-action-secondary"
              target="_blank"
            >
                {% trans 'Try Demo' %}
            </a>
        </div>
    </div>
</section>