.c-wrapper {
  margin: 40px auto;
  width: 100%;
  max-width: 380px;
  text-align: center;
}

.c-wrapper h1 {
  color: #172b4d;
}

.c-wrapper h5 {
  color: #36b37e;
}

form .getmdl-select .mdl-icon-toggle__label {
  float: left;
}

#sign-up-step2-wrapper {
  display: none;
}

.forget-password {

  font-size: 0.656rem;
  width: 50%;
  float: left;


}

#sign-in > dialog > div.md-dialog__actions.md-dialog__actions--full-width > a > button {
  width: 50%;
}

#sign-in > dialog > div.md-dialog__actions.md-dialog__actions--full-width > button {
  color: #BF2600;
  width: 43%;
  position: absolute;

}


@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;

  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;

  }
}

@keyframes moveUp {
  from {
    bottom: 0;
  }
  100% {
    bottom: 200px;
  }
}

#email-submit {
  margin-top: 10px;
}
.reset-password-wrapper{
  display: none;
}
#password-submit {
  margin-top: 10px;
}

#signUpButton {
  display: none;
  font-size: 0.756rem;
  width: 33%;
  float: left;
}

#sentMessage {
  display: none;
}

#sentMessage span {
  background-color: #00B8D9;
  color: white;
  padding: 0;
}

#sentMessage span span {
  font-size: 1rem;
  font-family: iranyekan, Tahoma, sans-serif;
  padding: 3px 9px;
  border-radius: 25px;
}

#forgot-password {
  min-height: 250px;

}

/* PAGE NOT FOUND */
.notfound-wrapper {
  display: none;
}
.notfound-msg {
  height: 54vh;
  margin-bottom: 30px;
}

.notfound-msg h1 {
  background-color: #FF5630;
  font-size: 1.483rem;
  border-radius: 40px;
  padding: 11px 0;
  color: white;
  margin-bottom: 60px;
}

.notfound-msg img {
  width: 200px;
  height: 200px;

}

/* RESPONSIVE */
@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 736px) {
}

@media screen and (max-width: 667px) {

}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 568px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 414px) {
  .c-wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 360px) {
}

@media screen and (max-width: 320px) {
  #sentMessage span span {

    font-size: 0.878rem;

  }

  .notfound-msg {
    height: 47vh;
  }

  .notfound-msg img {
    width: 140px;
    height: 140px;
  }
}


/* dialog polyfill */
dialog {
  position: absolute;
  left: 0;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
  padding: 1em;
  background: white;
  color: black;
  display: block;
}

dialog:not([open]) {
  display: none;
}

dialog + .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

._dialog_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

dialog.fixed {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}