.promo-wrapper {
    border: 1px solid #ececec;
    border-radius: 5px;
    line-height: 2.618rem;
    margin-bottom: 50px;
    background: white;
    text-align: center;
}

.promo-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FF8B00;

}

.promo-description {
    width: 100%;
    display: inline-block;
    color: #212529;
}

.promo-button {
    margin: 30px auto;
}