.promo-wrapper {
    border: 1px solid #ececec;
    border-radius: 5px;
    line-height: 2.618rem;
    margin-bottom: 50px;
    background: white;
    text-align: center;

}

.promo-title {
    margin-bottom: -15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FF8B00;

}

.promo-description {
    max-width: 100%;
    width: 90%;
    display: inline-block;
    color: #212529;
}

.promo-button {
    padding: 15px 30px;
}