{% extends "upkook_web/upkook.html" %}
{% load i18n staticfiles %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}home/css/styles.css">
{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero__background-container"></div>
        <div class="row top-section">
            <div class="top-section__container">
                <h1 class="hero__header">کسب و کار محبوب مشتریان باشید.</h1>
                <h2 class="hero__sub-header">
                    به راحتی شاخص های رضایت مشتری را اندازه گیری کنید
                    <span>
  داده های بزرگ را تحلیل کنید، 7 برابر بیشتر رشد کنید.
                    </span>
                </h2>
                <button class="button-cta button-alt-action">به زودی</button>
            </div>
        </div>
    </section>

{% endblock %}