{% extends "upkook_web/upkook.html" %}
{% load staticfiles %}
{% load product_intro_tags %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}home/css/styles.css">
{% if not is_amp %}
<link rel="stylesheet" href="{{ STATIC_URL }}carousel/css/carousel.css">
{% endif %}
<link rel="stylesheet" href="{{ STATIC_URL }}promo_box/css/promobox.css">
<link rel="stylesheet" href="{{ STATIC_URL }}home/css/product_intro.css">
{% endblock %}

{% block extra_head %}
{{block.super}}
{% include "home/includes/site_data_structure.html" %}
{% endblock %}
{% block external_js %}
{{block.super}}
<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.2.js"></script>
{% endblock %}

{% block content %}
{% include "home/includes/hero.html" %}
{% if not is_amp %}
{% include "home/includes/product-screen.html" %}
{% endif %}
{% product nps_intro False is_amp %}
{% product csat_intro True is_amp %}
{% product ces_intro False is_amp %}
{% include "home/includes/promo_box.html" %}
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script src="{{ STATIC_URL }}carousel/js/carousel.js"></script>
{% endblock %}