{% extends "upkook_web/bare.html" %}
{% load staticfiles %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}users/css/styles.css">
{% endblock %}

{% block content %}
  <div class="c-wrapper">
    {% block user-content %}
    {% endblock %}
  </div>
{% endblock %}
{% block external_js %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}site/js/cookie.js"></script>
  <script src="{{ STATIC_URL }}users/js/token.js"></script>
{% endblock %}