{% extends "users/base.html" %}
{% load i18n staticfiles %}


{% block user-content %}

<div class="forgot-password-wrapper" id="forgotForm">
  <h1>{% trans 'Recover Password' %}</h1>
  <form action="#" method="POST" id="forgot-password" data-action="{{ api_url }}users/password/reset/">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="fg-email">
      <label class="mdl-textfield__label" for="email">{% trans 'Work Email' %}</label>
      <input
        type="email"
        class="mdl-textfield__input"
        name="email"
        id="email"
        maxlength="254"
        data-required="true"
        aria-describedby="email-helper-text"
      />
      <span class="mdl-textfield__error">{% trans 'Please enter a valid email.' %}</span>

    </div>
    <a id="signUpButton" href="{{ sign_up_url }}">
      {% trans 'Sign up at UPKOOK' %}
    </a>

    <br/>
    <br/>

    <button id="email-submit" class="md-btn mdl-js-button md-btn--raised mdl-js-ripple-effect md-btn--primary">

      {% trans 'Recover password' %}
    </button>
    <div id="sentMessage">
        <span class="md-chip">
        <span class="md-chip_text">{% trans 'Reset password link has been sent to your email !' %}</span>
        </span>
      <br/>
      <br/>
    </div>
  </form>

  <br/>
  <br/>
  <a class="home-button" href="{% url 'home:index' %}">
    <button id="homePage" class="md-btn mdl-js-button mdl-js-ripple-effect">
      {% trans 'Back to homepage' %}&nbsp;&nbsp;&#8678;
    </button>
  </a>
  <br/>
  <br/>
  <a class="login-button" href="{{ sign_in_url }}">
    <button id="login" class="md-btn mdl-js-button mdl-js-ripple-effect">
      {% trans 'Sign in to Upkook' %}
    </button>
  </a>

</div>
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script src="{{ STATIC_URL }}users/js/forgot-password.js"></script>
{% endblock %}
