{% extends "users/base.html" %}
{% load i18n staticfiles %}


{% block user-content %}
<!--RESET PASSWORD FORM-->
<div class="reset-password-wrapper" id="resetForm">
  <h1>{% trans 'Reset Password' %}</h1>
  <form action="#" method="POST" id="reset-password" data-action="{{ api_url }}users/password/reset/confirm/">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="fg-password">
      <label class="mdl-textfield__label" for="password">{% trans 'New Password' %}</label>
      <input
        type="password"
        class="mdl-textfield__input"
        name="password"
        id="password"
        data-required="true"
      />
      <span class="mdl-textfield__error">{% trans 'Please enter your new password.' %}</span>
    </div>

    <button id="password-submit" class="md-btn mdl-js-button md-btn--raised mdl-js-ripple-effect md-btn--primary">
      {% trans 'Submit' %}
    </button>

    <div
      id='recaptcha'
      class="g-recaptcha"
      data-sitekey="{{recaptcha_public_key}}"
      data-callback="recaptchaCallback"
      data-size="invisible">
    </div>

  </form>

</div>

<!--RESET PASSWORD PAGE NOT FOUND-->
<div class="notfound-wrapper" id="notFound">
  <div class="notfound-msg">
    <h1>{% trans 'Link has been expired !' %}</h1>
    <img src="{{ STATIC_URL }}users/images/robot-notfound.png">
  </div>

  <a class="login-button" href="{{ forgot_password_url }}">
    <button id="login" class="md-btn mdl-js-button mdl-js-ripple-effect">
      {% trans 'Forgot password ?' %}
    </button>
  </a>

  <a class="home-button" href="{% url 'home:index' %}">
    <button id="homePage" class="md-btn mdl-js-button mdl-js-ripple-effect">
      {% trans 'Back to homepage' %}&nbsp;&nbsp;&#8678;
    </button>
  </a>
</div>
{% endblock %}

{% block external_js %}
<script>
  const apiURL = "{{ api_url }}";
  const signInURL = "{{ sign_in_url }}";
</script>
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script src="{{ STATIC_URL }}users/js/reset-password.js"></script>
{% endblock %}
