{% load i18n %}
<div id="sign-up-step1-wrapper">
  <h1>{% trans 'Start using UPKOOK' %}</h1>
  <h5>{% trans 'Free Sign Up' %}</h5>
  <form action="#" method="POST" id="sign-up-step1" data-action="{{ api_url }}users/">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="fg-email">
      <label class="mdl-textfield__label" for="email">{% trans 'Work Email' %}</label>
      <input
        type="email"
        class="mdl-textfield__input"
        name="email"
        id="email"
        maxlength="254"
        data-required="true"
        aria-describedby="email-helper-text"
      />
      <span class="mdl-textfield__error" data-text="{% trans 'Please enter a valid email.' %}"></span>
    </div>
    <div class="mdl-textfield mdl-textfield__helper-line">
        <span id="email-helper-text" class="mdl-textfield__helper-text">
          {% trans 'Example: n.family@workdomain.com' %}
        </span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="fg-password">
      <label class="mdl-textfield__label" for="password">{% trans 'Password' %}</label>
      <input
        type="password"
        class="mdl-textfield__input"
        name="password"
        id="password"
        data-required="true"
      />
      <span class="mdl-textfield__error" data-text="{% trans 'Please enter your password.' %}"></span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="fg-first_name">
      <label class="mdl-textfield__label" for="first_name">{% trans 'First Name' %}</label>
      <input
        type="text"
        class="mdl-textfield__input"
        name="first_name"
        id="first_name"
        maxlength="30"
        data-required="true"
      />
      <span class="mdl-textfield__error" data-text="{% trans 'Please enter your first name.' %}"></span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="fg-last_name">
      <label class="mdl-textfield__label" for="last_name">{% trans 'Last Name' %}</label>
      <input
        type="text"
        class="mdl-textfield__input"
        name="last_name"
        id="last_name"
        maxlength="30"
        data-required="true"
      />
      <span class="mdl-textfield__error" data-text="{% trans 'Please enter your last name.' %}"></span>
    </div>
    <button class="md-btn mdl-js-button md-btn--raised mdl-js-ripple-effect md-btn--primary">
      {% trans 'Continue' %}
    </button>
    <br />
    <br />
    <small>
      {% trans 'By signing up at upkook, I accept terms and conditions of upkook.' %}
    </small>

    <div
      id='recaptcha'
      class="g-recaptcha"
      data-sitekey="{{recaptcha_public_key}}"
      data-callback="recaptchaCallback"
      data-size="invisible">
    </div>

  </form>
  <br />
  <br />
  <a href="{% url 'users:sign-in' %}">
    <button class="md-btn mdl-js-button mdl-js-ripple-effect">
      {% trans 'Sign in to Upkook' %}
    </button>
  </a>
</div>