{% extends "users/base.html" %}
{% load i18n staticfiles %}

{% block user-content %}
  <h1>{% trans 'Sign in to Upkook' %}</h1>
  <form action="#" method="POST" id="sign-in" data-action="{{ api_url }}auth/token/">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="fg-email">
      <label class="mdl-textfield__label" for="email">{% trans 'Email' %}</label>
      <input
        type="email"
        class="mdl-textfield__input"
        name="email"
        id="email"
        data-required="true"
      />
      <span class="mdl-textfield__error">{% trans 'Please enter a valid email.' %}</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="fg-password">
      <label class="mdl-textfield__label" for="password">{% trans 'Password' %}</label>
      <input
        type="password"
        class="mdl-textfield__input"
        name="password"
        id="password"
        data-required="true"
      />
      <span class="mdl-textfield__error">{% trans 'Please enter your password.' %}</span>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
      {% trans 'Sign in' %}
    </button>
  </form>
  <br />
  <br />
  <a href="{{ sign_up_url }}">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
      {% trans 'Sign up at UPKOOK' %}
    </button>
  </a>
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}users/js/sign-in.js"></script>
{% endblock %}