{% extends "users/base_with_cookie.html" %}
{% load i18n staticfiles %}

{% block user-content %}
  <h1>{% trans 'Sign in to Upkook' %}</h1>
  <form action="#" method="POST" id="sign-in" data-action="{{ api_url }}auth/token/">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="fg-email">
      <label class="mdl-textfield__label" for="email">{% trans 'Email' %}</label>
      <input
        type="email"
        class="mdl-textfield__input"
        name="email"
        id="email"
        data-required="true"
      />
      <span class="mdl-textfield__error">{% trans 'Please enter a valid email.' %}</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="fg-password">
      <label class="mdl-textfield__label" for="password">{% trans 'Password' %}</label>
      <input
        type="password"
        class="mdl-textfield__input"
        name="password"
        id="password"
        data-required="true"
      />
      <span class="mdl-textfield__error">{% trans 'Please enter your password.' %}</span>
    </div>
    <br/>
    <div class="forget-password">
      <a href="{{ forgot_password_url }}">{% trans 'Forgot password ?' %}</a>
    </div>
    <br/>
    <br/>
    <button id="sign-in-button" class="md-btn mdl-js-button md-btn--raised mdl-js-ripple-effect md-btn--primary">
      {% trans 'Sign in' %}
    </button>
    <dialog class="md-dialog">
      <div class="md-dialog__content">
        <p>{% trans 'Did you forget your password ?' %}</p>
      </div>
      <div class="md-dialog__actions md-dialog__actions--full-width">
        <a href="{{ forgot_password_url }}">
          <button type="button" class="md-btn mdl-js-button md-btn--raised mdl-js-ripple-effect md-btn--primary">{% trans 'Yes' %}</button>
        </a>
        <button type="button" class="md-btn close-btn  mdl-js-ripple-effect close">{% trans 'No' %}</button>
      </div>
    </dialog>
  </form>
  <br />
  <br />
  <a href="{{ sign_up_url }}">
    <button class="md-btn mdl-js-button mdl-js-ripple-effect">
      {% trans 'Sign up at UPKOOK' %}
    </button>
  </a>
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}users/js/sign-in.js"></script>
  {% include "users/js/auth-cookie-js.html" %}
{% endblock %}
