{% load i18n %}

<div class="mdl-mega-footer">
    <div class="mdl-grid mega-footer-grid">
        <div class="mega-footer-info mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mega-footer-right-section">
            <div class="footer-address">
                <div class="footer-address-i">
                    <i class="material-icons">
                        location_on
                    </i>
                </div>
                <div itemscope itemtype="http://schema.org/PostalAddress">

                    <div class="footer-address-text">
                        <span>
                            <span>{% trans "address: " %}</span>
                            <span itemprop="{% if is_amp %}addressLocality{% else %}streetAddress{% endif %}">
                                {% trans "Upkook Address" %}
                            </span>
                        </span>
                    </div>

                    <span class="footer-postal-code">
                        <span>
                            <i class="material-icons">
                                mail_outline
                            </i>
                            <span>{% trans "Postal Code: " %}</span>
                            <span itemprop="postalCode">{% trans "UPKOOK Code" %}</span>

                        </span>

                    </span>
                </div>
            </div>
            <div class="footer-email">
                <i class="material-icons">
                    <span>alternate_email</span>
                </i>
                <span>{% trans "E-mail" %}: <a href="mailto:info@upkook.com" target="_top">info@upkook.com</a></span>

            </div>
            <div class="mega-footer-contact">
                    <span>
                        <i class="material-icons">
                            phone
                        </i>
                         {% trans "Phone: " %}
                        <span itemprop="telephone" dir="ltr">
                            {% trans "UPKOOK Telephone" %}
                        </span>
                    </span>


            </div>

        </div>

    </div>


</div>