{% load  i18n %}
<div class="navigation-section">
    <li itemprop="name">
        <a class="mdl-navigation__link" itemprop="url"
           href="{% if is_amp %}{% url 'home:index-amp' amp %}{% else %}{% url 'home:index' %}{% endif %}">
            {% trans 'UPKOOK' %}
        </a>
    </li>

    <li itemprop="name">
        <a class="mdl-navigation__link" itemprop="url"
           href="{% url 'users:sign-in' %}">
            {% trans 'Sign In' %}
        </a>
    </li>
    <li itemprop="name">
        <a class="mdl-navigation__link" itemprop="url"
           href="{% url 'users:sign-up' %}">
            {% trans 'Sign Up' %}
        </a>
    </li>
    <li itemprop="name">
        <a class="mdl-navigation__link" itemprop="url"
           href="https://blog.upkook.com{% if is_amp %}/amp/{% endif %}">
            {% trans 'BLOG' %}
        </a>
    </li>
</div>