{% load i18n %}
<!-- Schema markup -->
     <script type="application/ld+json">
    { "@context" : "http://schema.org",
      "@type" : "Organization",
      "legalName" : "Upkook",
      "url" : "{{protocol}}://{{ site }}",
      "address" : {
      	"@type" : "PostalAddress",
        "postalCode": "{% trans "UPKOOK Code" %}",
        "streetAddress" : "{% trans "Upkook Address" %}"
        },
      "contactPoint" : [{
        "@type" : "ContactPoint",
        "telephone" : "{% trans "UPKOOK Telephone" %}",
        "email" : "info@upkook.com",
        "contactType" : "customer service"
       }],
      {% if setting and setting.logo %}
      "logo" : "{{ setting.logo.url }}",
      {% endif %}
      "sameAs" : [
      {% if social_media.linkedin_url %}"{{social_media.linkedin_url}}",{% endif %}
      {% if social_media.twitter_url %}
      "{{social_media.twitter_url}}",
      {% endif %}
      {% if social_media.pinterest_url %}
      "{{social_media.pinterest_url}}",
      {% endif %}
      {% if social_media.telegram_url %}
      "{{social_media.telegram_url}}"
      {% endif %}
		],
      "publishingPrinciples" : "https://blog.upkook.com"
    }
    </script>