<div id="customer_entrepreneur_intro" class="row intro">
    <div class="col-xs-12">
        <a name="customer_entrepreneur_intro"><h2>کارآفرینی به سبک آپ کوک</h2></a>
        <br/>
        <ul>
            <li>آیا شما هم یک ایده جذاب برای راه اندازی یک کسب و کار، ارائه خدمات یا تولید یک کالای جدید دارید؟</li>
            <li>آیا هنوز برای شروع کسب و کارتان و راه اندازی آن تردید دارید؟</li>
            <li>آیا می خواهید بازار هدف خود را به درستی شناسایی کنید؟</li>
            <li>آیا می خواهید میزان و حجم تقاضا در بازار هدف خود را به دقت بررسی کنید؟</li>
            <li>آیا می خواهید عکس العمل بازار را نسبت به کالا و خدمات جدید خود از قبل ارزیابی کنید؟</li>
            <li>آیا می خواهید نیازها، خواسته ها و انتظارات مشتریان خود را از زبان آنها بشنوید؟</li>
            <li>آیا می خواهید بدانید قیمت مناسب برای کالا و خدمات شما از نظر بازار هدف چه مبلغی است؟</li>
        </ul>
        <p>ما اینجا هستیم تا به شما در رسیدن به پاسخ تمامی سوال هایتان کمک کنیم.</p>
    </div>
</div>