<div id="customer_startup_intro" class="row intro">
    <div class="col-xs-12">
        <a name="customer_startup_intro"><h2>استارتاپ کوک با آپ کوک</h2></a>
        <br/>
        <ul>
            <li>آیا تا به حال میزان رضایت مشتریان تان را از تجربه کالا و خدمات ارائه شده به آنها مورد ارزیابی قرار داده
                اید؟
            </li>
            <li>آیا می دانید مشتریان شما چگونه شما را به دیگران معرفی می کنند؟</li>
            <li>آیا می دانید چه درصدی از مشتریان ارتباطشان را با سازمان بدلیل عدم رضایتشان خاتمه داده اند؟</li>
            <li>آیا تا به حال درجه وفاداری مشتریان تان را سنجیده اید؟</li>
            <li>آیا فهرستی به روز از همه نیازها و انتظارات مشتریانتان در دست دارید؟</li>
            <li>آیا می دانید تصویر ذهنی مشتریان شما نسبت به برند شما چیست؟</li>
            <li>آیا می دانید مزیت و برتری کالا و خدمات شما نسبت به رقبایتان از نظر مشتریان شما چیست؟</li>
        </ul>
        <p>ما اینجا هستیم تا به شما در رسیدن به پاسخ تمامی سوال هایتان کمک کنیم.</p>
    </div>
</div>