{% extends "upkook_web/upkook.html" %}
{% load staticfiles i18n %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}about/css/custom.css">
{% endblock %}

{% block content %}
<section class="about-header">
    <h1>{% trans 'about us header title' %}</h1>
    <p>{% trans 'about us header description' %}</p>
</section>
<section class="about-section-1">
    <p>{% trans 'about us section1' %}</p>
</section>
<section class="about-section-2">
    <div class="md-gr">
        <div class="md-cl--6-col md-cl--8-col-tablet">
            <h2>{% trans 'about us section2 title' %}</h2>
            <p>{% trans 'about us section2 description' %}</p>
        </div>
        <div class="md-cl--6-col md-cl--8-col-tablet">
            {% if is_amp %}
            <amp-img src="{{ STATIC_URL }}about/images/ceo.jpg" layout="intrinsic" width="480" height="384"></amp-img>
            {% else %}
            <img src="{{ STATIC_URL }}about/images/ceo.jpg">
            {% endif %}
        </div>
    </div>
</section>
<section class="about-section-3">
    <div class="md-gr">
        <div class="md-cl--6-col md-cl--8-col-tablet">
            {% if is_amp %}
            <amp-img src="{{ STATIC_URL }}about/images/grow.png" layout="intrinsic" width="480" height="384"></amp-img>
            {% else %}
            <img src="{{ STATIC_URL }}about/images/grow.png">
            {% endif %}

        </div>
        <div class="md-cl--6-col md-cl--8-col-tablet">
            <h2>{% trans 'about us section3 title' %}</h2>
            <p>{% trans 'about us section3 description' %}</p>
        </div>

    </div>
</section>
{% endblock %}


{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}about/css/styles.css">
{% endblock %}