{% extends "upkook_web/upkook.html" %}
{% load staticfiles i18n %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}about/css/custom.css">
{% endblock %}

{% block content %}
<section class="about-header">
    <h1>داستان آپ کوک</h1>
    <p>آپ کوک نبض تپنده کسب و کار</p>
</section>
<section class="about-section-1">
    <p>
        پلتفرم آنلاین و یکپارچه آپ کوک با ایده اولیه ارائه سرویس تحقیقات بازار بر بستر وب برای استارتاپ ها و کسب و
        کارهای آنلاین شکل گرفت. با انجام تحقیقات اولیه و گفتگو با تنی چند از فعالان عرصه استارتاپی کشور و شناسایی نیاز
        استارتاپ ها برای سنجش تجربه و رضایت مشتری،تصمیم برآن شد تا آپ کوک به عنوان اولین پلتفرم آنلاین تخصصی سنجش تجربه
        مشتری بر اساس استانداردهای روز دنیا مانند CES ,CSAT و NPS روانه بازار شود.

    </p>

</section>

{% endblock %}


{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}about/css/styles.css">
{% endblock %}