#header-wrapper {
    width: 100%;

}

.header {
    background-color: #4C9AFF;
    color: white;
}

.header a {
    color: white;
}

header.mdl-layout__header {
    border: none;
}

.hiw-wrapper {
    max-width: 100%;
}

.hiw-right-section {
    width: 100%;

}

.hiw-left-section {
    display: none;

}

.hiw-section-1 {
    background-color: #4C9AFF;
    height: 100vh;

}

.hiw-section-1-contents {
    padding-top: 50px;
}

.hiw-section-1-h h2 {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 2.618rem;
    line-height: 4rem;
    font-weight: 600;
    text-align: center;
    color: black;
}

.hiw-section-1-p p {
    margin-top: 50px;
    font-size: 1.618rem;
    line-height: 3rem;
    text-align: center;
    color: white;
}

.hiw-section-1-a {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;

}

.hiw-section-1-a a {
    display: block;
    margin-top: 50px;
}

.hiw-section-1-a a:hover {
    color: white;
}

.hiw-section-1-i {
    margin-top: 50px;
    padding-right: 0;
    text-align: center;

}

.hiw-section-1-i i {
    font-style: normal;
    margin-top: 25px;
    font-size: 3rem;
    writing-mode: tb;
    color: #EBECF0;

}

.hiw-section-2 {
    background-color: #FFAB00;
    height: 100vh;
    padding: 0 120px;

}

.hiw-section-2-contents {
    padding-top: 50px;
}

.hiw-section-2-h h2 {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 2.618rem;
    line-height: 4rem;
    font-weight: 600;
    text-align: center;
    color: black;
}

.hiw-section-2-p ul {
    margin-top: 50px;
    font-size: 1.318rem;
    text-align: center;
    color: black;
    line-height: 3rem;
    list-style: none;
}

.hiw-section-2-i {
    text-align: center;

}

.hiw-section-2-i i {
    margin-top: 50px;
    font-style: normal;
    font-size: 3rem;
    writing-mode: tb;
    color: #253858;

}

.hiw-section-3 {
    background-color: #FF5630;
    height: 100vh;
    padding: 0 120px;

}

.hiw-section-3-contents {
    padding-top: 50px;
}

.hiw-section-3-h h2 {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 2.618rem;
    line-height: 4rem;
    font-weight: 600;
    text-align: center;
    color: white;
}

.hiw-section-3-p ul {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 1.318rem;
    list-style: none;
    line-height: 3rem;
}

.hiw-section-3-demo {
    max-width: 100%;
    text-align: center;
}

.hiw-section-3-demo h3 {
    font-size: 2rem;
}

.hiw-section-3-demo p {
    font-size: 1rem;
}

.hiw-section-3-demo a {
    background-color: #00B8D9;
    border: 1px solid #00B8D9;
    margin: 30px 0;
}

.hiw-section-3-demo a:hover {
    background-color: #00B8D9;
    border: 1px solid #00B8D9;
}

.site-footer {
    width: 100%;
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1080px) {

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 840px) {

    .hiw-section-1-h h2 {
        font-size: 2.417rem;
    }

    .hiw-section-1-p p {
        font-size: 1.216rem;
    }

    .hiw-section-2 {
        padding: 0 30px;
    }

    .hiw-section-2-h h2 {
        font-size: 2.417rem;
        margin-top: 0;
    }

    .hiw-section-2-i i {

        margin-top: 0;
    }

    .hiw-section-2-p ul {
        font-size: 1.216rem;
        line-height: 3.617rem;
        padding: 0;
    }

    .hiw-section-3 {
        padding: 0 30px;
    }

    .hiw-section-3-demo a {

        margin-top: 0;
    }

    .hiw-section-3-h h2 {
        font-size: 2.417rem;
        margin-top: 0;
    }

    .hiw-section-3-p ul {
        font-size: 1.216rem;
        line-height: 3.617rem;
        padding: 0;
    }

}

@media screen and (max-width: 736px) {

    .mini-footer-right-section {
        display: none;
    }

    .mini-footer-left-section, .mini-footer-left-section.mdl-cell--3-col-tablet.mdl-cell--3-col-tablet {

        width: calc(75.5% - 16px);

    }

}

@media screen and (max-width: 600px) {
    .hiw-section-1 {
        padding: 0 15px;
    }

    .hiw-section-2 {
        padding: 0 15px;

    }

    .hiw-section-3 {
        padding: 0 15px;

    }

    .hiw-section-1-h h2 {
        font-size: 2.317rem;
    }

    .hiw-section-2-h h2 {
        font-size: 2.317rem;
    }

    .hiw-section-3-h h2 {
        font-size: 2.317rem;
    }

    .hiw-section-1-i i {
        margin-top: 0;

    }

    .hiw-section-1-p p {
        font-size: 1.180rem;
    }

    .hiw-section-2-p ul {
        font-size: 1.180rem;
    }

    .hiw-section-3-p ul {
        font-size: 1.180rem;
    }

}

@media screen and (max-width: 480px) {
    .mini-footer-right-section {
        display: block;
    }

    .mini-footer-left-section, .mini-footer-left-section.mdl-cell--3-col-tablet.mdl-cell--3-col-tablet {

        width: calc(100% - 16px);

    }

    .hiw-section-2-p ul {
        padding-right: 15px;
    }

    .hiw-section-3-p ul {
        padding-right: 15px;
    }

    .hiw-section-1-h h2 {
        font-size: 2rem;

    }

    .hiw-section-2-h h2 {
        font-size: 2rem;
        margin-top: 0;
    }

    .hiw-section-3-h h2 {
        font-size: 2rem;
        margin-top: 0;
    }

    .hiw-section-1-p p {
        font-size: 1rem;
    }

    .hiw-section-1-a a {
        margin-top: 25px;
    }

    .hiw-section-2-p ul {
        font-size: 1rem;
    }

    .hiw-section-3-p ul {
        font-size: 1rem;
    }

    .hiw-section-1 {
        padding: 0;
    }

    .hiw-section-2 {
        padding: 0;
    }

    .hiw-section-2-i i {
        margin-top: 0;
    }

    .hiw-section-3 {
        padding: 0;
    }

    .hiw-section-3-demo a {
        margin-top: 0;
    }

}

@media screen and (max-width: 376px) {
    .hiw-section-1-contents {

    }

    .hiw-section-2-contents {
        padding: 0;

    }

    .hiw-section-3-contents {
        padding: 0;
    }

    .hiw-section-2-p ul {
        padding-right: 15px;
    }

    .hiw-section-3-p ul {
        padding-right: 15px;
    }

    .hiw-section-1-h h2 {
        font-size: 1.7rem;
    }

    .hiw-section-2-h h2 {

        font-size: 1.7rem;
    }

    .hiw-section-3-h h2 {
        font-size: 1.7rem;
    }

    .hiw-section-1-p p {
        font-size: 0.856rem;
    }

    .hiw-section-2-p ul {
        font-size: 0.856rem;
    }

    .hiw-section-3-p ul {
        font-size: 0.856rem;
    }

}


@media screen and (max-width: 360px) {
    .hiw-section-1-contents {

    }

    .hiw-section-2-contents {
        padding: 0;

    }

    .hiw-section-3-contents {
        padding: 0;
    }

    .hiw-section-2-p ul {
        padding-right: 15px;
    }

    .hiw-section-3-p ul {
        padding-right: 15px;
    }

    .hiw-section-1-h h2 {
        font-size: 1.7rem;
    }

    .hiw-section-2-h h2 {

        font-size: 1.7rem;
    }

    .hiw-section-3-h h2 {
        font-size: 1.7rem;
    }

    .hiw-section-1-p p {
        font-size: 0.856rem;
    }

    .hiw-section-2-p ul {
        font-size: 0.856rem;
    }

    .hiw-section-3-p ul {
        font-size: 0.856rem;
    }

}
