{% load staticfiles %}
{% load i18n  %}

<div class="car-wrapper">
  <h2>{{title}}</h2>
  <div class="md-gr">
    <div class="options md-cl--3-col md-cl--8-col-tablet md-cl--4-col-phone">
      <ul>
        {% for item in items %}
        <li class="slide-caption">
          <div class="mobile-product-screen-description"
               role="button"
               tabindex="{{forloop.counter0}}"
               on="tap:car-with-preview.goToSlide(index={{forloop.counter0}})">
            {% if item.description %}
            {% trans item.description %}
            {% endif %}
          </div>
        </li>
        {% endfor %}
        <li class="mobile-demo">
          <a href="https://demo.upkook.com" target="_blank">
            {% trans 'Try Demo' %} &larr;
          </a>
        </li>
      </ul>
    </div>
    <br>
    <div class="md-cl--9-col md-cl--8-col-tablet md-cl--4-col-phone">
      <amp-carousel id="car-with-preview"
                    class="mobile-md-slideshow-container"
                    type="slides"
                    layout="intrinsic"
                    width="960"
                    height="640"
                    controls
                    autoplay
                    loop
                    delay="3000"
                    data-next-button-aria-label="Go to next slide"
                    data-previous-button-aria-label="Go to previous slide">
        {% for item in items %}
        {% if item.url %}<a href="{{ item.url }}" {% if item.target %}target="{{item.target}}" {% endif %}>{% endif %}
        <amp-img class="slide-medium" src="{{item.img_src}}" layout="intrinsic" width="960" height="640"></amp-img>
        {% if item.url %}</a>{% endif %}
        {% endfor %}
      </amp-carousel>
      {% include "carousel/amp/carousel-mobile.html" %}
      <a
        href="https://demo.upkook.com"
        class="mdl-button mdl-js-button mdl-button--accent sm-demo"
        target="_blank">
        {% trans 'Try Demo' %} &larr;
      </a>
    </div>
  </div>
</div>
