html, body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: iranyekan, Tahoma, sans-serif;
  text-align: right;
}

body {
  color: #212529;
  line-height: 1.8;
  direction: rtl;
  overflow-x: hidden;
}

a, a:hover {
  text-decoration: none;
}

a:hover {
  color: #0379c4;
}

h1 {
  font-size: 1.618rem;
}

h2 {
  font-size: 1.4944rem;
}

h3 {
  font-size: 1.3708rem;
}

h4 {
  font-size: 1.2472rem;
}

h5 {
  font-size: 1.1236rem;
}

h6 {
  font-size: 1rem;
}

input,
select {
  width: 360px;
  height: 36px;
}

input[type=email],
input[type=password],
input[name=domain],
input[name=mobile_number] {
  direction: ltr;
  text-align: left;
}

input[type=email],
input[name=domain] {
  text-transform: lowercase;
}

button {
  width: 360px;
  height: 60px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.md-chip {
  height: 32px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 32px;
  padding: 0 12px;
  border: 0;
  border-radius: 16px;
  background-color: #dedede;
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
  margin: 2px 0;
  font-size: 0;
  white-space: nowrap;
}

.md-chip_text {
  font-size: 13px;
  vertical-align: middle;
  display: inline-block;
}

.md-dialog {
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 280px;
}

.md-dialog__title {
  padding: 24px 24px 0;
  margin: 0;
  font-size: 2.5rem;
}

.md-dialog__actions {
  padding: 8px 8px 8px 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.md-dialog__actions > * {
  margin-right: 8px;
  height: 36px;
}

.md-dialog__actions > *:first-child {
  margin-right: 0;
}

.md-dialog__actions--full-width {
  padding: 0 0 8px 0;
}

.md-dialog__actions--full-width > * {
  height: 48px;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding-right: 16px;
  margin-right: 0;
  text-align: right;
}

.md-dialog__content {
  padding: 20px 24px 24px 24px;
  color: rgba(0, 0, 0, 0.54);
}

/* Call to Action */
.button-cta {
  text-align: center;
  text-decoration: none;
  font-family: iranyekan, Tahoma, sans-serif;
  font-style: normal;
  font-size: 1.127rem;
  color: #DFE1E6;
  background-color: #ff5630;
  line-height: 3.875rem;
  position: relative;
  display: inline-block;
  min-width: 64px;
  width: 360px;
  height: 60px;
  padding: 0 5px;
  white-space: nowrap;
  border: none;
  border-radius: 2px;
  outline: 0;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform: translateZ(0px);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 184, 217, .14), 0 1px 10px 0 rgba(0, 184, 217, .12), 0 2px 4px -1px rgba(0, 184, 217, .2);
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 184, 217, .14), 0 1px 10px 0 rgba(0, 184, 217, .12), 0 2px 4px -1px rgba(0, 184, 217, .2);
  -o-box-shadow: 0 4px 5px 0 rgba(0, 184, 217, .14), 0 1px 10px 0 rgba(0, 184, 217, .12), 0 2px 4px -1px rgba(0, 184, 217, .2);
  box-shadow: 0 4px 5px 0 rgba(0, 184, 217, .14), 0 1px 10px 0 rgba(0, 184, 217, .12), 0 2px 4px -1px rgba(0, 184, 217, .2);
}

.button-cta-lg {
  width: 360px;
  height: 50px;
  line-height: 3.68rem;

}

.button-cta-md {
  width: 268px;
  height: 46px;
  line-height: 3rem;

}

.button-cta-sm {
  width: 160px;
  height: 40px;
  line-height: 2.618rem;

}

.button-action-primary,
.button-action-primary:hover {
  color: #FFFFFF;
  background-color: #FF5630;
  border: 1px solid #FF5630;
}

.button-action-secondary,
.button-action-secondary:hover {
  color: #FFFFFF;
  background-color: #00B8D9;
  border: 1px solid #00B8D9;
}

.button-alt-action {
  color: #172b4d;
  background-color: #e6fcff;
  border: 1px solid #b3f5ff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* HEADER */
.sign-in-sign-up {
  display: block;
  padding: 0 5px;
  color: inherit;
}

.nav-sign-in-sign-up {
  padding: 0;
  display: inline-block;
  color: inherit;
  line-height: 64px;
  text-decoration: none;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  opacity: .87;
}

header {
  width: 100%;
}

header .md-gr {
  padding: 0;
}

header.mdl-layout__header {
  display: inherit;
}

header h1 {
  margin: 0;
}

header img, header amp-img {
  margin-left: 5px;
  vertical-align: middle;
}

header .md-nav {
  float: left;
  height: 64px;
}

header .md-nav ul {
  display: flex;
}

nav.md-nav ul {
  margin: 0;
  padding: 0;
}

nav.md-nav li {
  list-style: none;
}

/* Footer */
footer.footer-bare {
  margin: 20px auto 0;
  width: 100%;
  text-align: center;
  padding: 0;
  font-size: 0.8rem;
}

footer.footer-bare a,
footer.footer-bare a:hover,
footer.footer-bare a:visited {
  color: #00B8D9;
  text-decoration: none;
  margin: 0 7px;
}

/* FOOTER */
.mini-footer-wrapper {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
  border-bottom: 4px solid #6554C0;
}

.mini-footer-wrapper a {
  color: grey;
}

.mini-footer-wrapper a:hover {
  color: black;
}

.mini-footer-wrapper ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mini-footer-wrapper .md-gr {
  padding-bottom: 0;
}

.mini-footer-wrapper .md-cl--2-col {
  text-align: center;
}

.mini-footer-wrapper li {
  margin-left: 20px;
  font-size: 0.8rem;
}

.mini-footer-wrapper ul {
  padding-top: 8px;

}

.credit-wrapper {
  padding-top: 10px;
}

.mini-footer-wrapper .credit p {
  font-size: 0.8rem;
  color: grey;
  margin: 0;
}

.footer-link-wrapper {
  background-color: #343332;
  padding-bottom: 60px;
}

.footer-link-wrapper ul {
  list-style: none;
}

.footer-link-wrapper a {
  color: white;
  margin-bottom: 2px;
  line-height: 3rem;
  font-size: 0.8rem;
}

.footer-link-wrapper a:hover {
  color: #c1c0bf;
}

.footer-link-wrapper strong {
  color: #fff;
}

#outer-wrapper .mdl-layout__drawer,
#outer-wrapper .mdl-layout__drawer-button {
  display: none;
}

.amp-hamburger {
  display: none;
  margin: 11px 4px 4px 15px;
  position: absolute;
  height: 48px;
  width: 48px;
  border: 0;
  webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 4;
}

.amp-hamburger div {
  width: 35px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
}

/* RESPONSIVE */
@media screen and (max-width: 1440px) {
  .md-nav a.md-nav__link {
    padding: 0 19px;
  }
}

@media screen and (max-width: 1280px) {
  .md-nav a.md-nav__link {
    padding: 0 9px;
  }
}

@media screen and (max-width: 1024px) {
  .navigation li:nth-child(5) {
    display: none;
  }

  .mdl-layout__header-row .md-nav__link.md-nav__link {
    padding: 4px 13px;
  }
}

@media screen and (max-width: 667px) {
  .md-nav a.md-nav__link {
    padding: 0 8px;
  }
}

@media screen and (max-width: 840px) {
  .md-nav a.md-nav__link {
    padding: 0 8px;
  }

  .navigation li:nth-child(8) {
    display: none;
  }

  .mini-footer-wrapper ul {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  .mini-footer-wrapper li {
    margin-top: 20px;
    display: inline-block;
  }

  .mini-footer-wrapper .credit {
    margin: 20px;
    text-align: center;
  }

  .mini-footer-wrapper .md-cl--8-col-tablet {
    margin: auto;
  }
}

@media screen and (max-width: 760px) {
  .mdl-layout__header-row .md-nav__link.md-nav__link {
    padding: 4px 8px;
  }

  .navigation li:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 667px) {
  .md-cl--2-col, .md-cl--2-col-tablet.md-cl--2-col-tablet.md-cl--2-col-tablet.md-cl--2-col-tablet {
    width: calc(35% - 16px);
  }

  .md-cl--6-col, .md-cl--6-col-tablet.md-cl--6-col-tablet.md-cl--6-col-tablet.md-cl--6-col-tablet {
    width: calc(65% - 16px);
  }

  .navigation li:nth-child(6) {
    display: none;

  }

  .md-nav a.md-nav__link {
    padding: 0 5px;
  }

}

@media screen and (max-width: 620px) {
  .navigation li:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .md-cl--2-col, .md-cl--2-col-tablet.md-cl--2-col-tablet.md-cl--2-col-tablet.md-cl--2-col-tablet {
    width: calc(100% - 16px);
  }

  .navigation li:nth-child(1) {
    display: block;
  }

  .navigation li:nth-child(3) {
    display: block;
  }

  .navigation li:nth-child(6) {
    display: block;
  }

  .navigation li:nth-child(7) {
    display: block;
  }

  .navigation li:nth-child(8) {
    display: block;
  }

  .navigation li:nth-child(5) {
    display: block;
  }

  .header div:first-of-type {
    width: 100%;
    margin: 0 auto;
    padding: 8px;
  }

  #outer-wrapper .mdl-layout__drawer.is-visible,
  #outer-wrapper .mdl-layout__drawer-button {
    display: inline-block;
  }

  .amp-hamburger {
    display: inline-block;
  }

  .header div:nth-of-type(2) {
    display: none;
  }

  .mini-footer-wrapper li {
    margin: 35px 0;
    display: block;
  }

  .footer-link-wrapper ul {
    padding: 0;
  }

  .footer-link-wrapper {
    text-align: center;
  }
}

@media screen and (max-width: 414px) {
  .button-cta {
    width: 90%;
  }
}

.md-btn .material-icons {
  vertical-align: middle;
}

.md-btn {
  font-family: iranyekan, Tahoma, sans-serif;
}

.mdl-layout__header {
  background-color: white;
  color: inherit;
  box-shadow: none;
  border-bottom: 1px solid rgba(151, 151, 151, 0.5)
}

.mdl-layout__header-row .md-nav__link {
  color: inherit;
}

header .mdl-layout__header-row .md-nav {
  height: 50px;
}

header img, header amp-img {
  height: 50px;
}