html, body {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: iranyekan, Tahoma, sans-serif;
    direction: rtl;
    text-align: right;
}

body {
    color: #212529;
    line-height: 1.8;
}

a, a:hover {
    text-decoration: none;
}

a:hover {
    color: #0379c4;
}

h1 {
    font-size: 1.618rem;
}

h2 {
    font-size: 1.4944rem;
}

h3 {
    font-size: 1.3708rem;
}

h4 {
    font-size: 1.2472rem;
}

h5 {
    font-size: 1.1236rem;
}

h6 {
    font-size: 1rem;
}

input,
select {
    width: 360px;
    height: 36px;
}

input[type=email],
input[type=password],
input[name=domain] {
    direction: ltr;
    text-align: left;
}

button {
    width: 360px;
    height: 60px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Call to Action */
.button-cta {
    text-align: center;
    text-decoration: none;
    font-family: iranyekan, Tahoma, sans-serif;
    font-style: normal;
    font-size: 1.127rem;
    color: #DFE1E6;
    background-color: #ff5630;
    line-height: 3.875rem;
    position: relative;
    display: inline-block;
    min-width: 64px;
    width: 360px;
    height: 60px;
    padding: 0 5px;
    white-space: nowrap;
    border: none;
    border-radius: 2px;
    outline: 0;
    vertical-align: middle;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transform: translateZ(0px);
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 184, 217, .14), 0 1px 10px 0 rgba(0, 184, 217, .12), 0 2px 4px -1px rgba(0, 184, 217, .2);
    -moz-box-shadow: 0 4px 5px 0 rgba(0, 184, 217, .14), 0 1px 10px 0 rgba(0, 184, 217, .12), 0 2px 4px -1px rgba(0, 184, 217, .2);
    -o-box-shadow: 0 4px 5px 0 rgba(0, 184, 217, .14), 0 1px 10px 0 rgba(0, 184, 217, .12), 0 2px 4px -1px rgba(0, 184, 217, .2);
    box-shadow: 0 4px 5px 0 rgba(0, 184, 217, .14), 0 1px 10px 0 rgba(0, 184, 217, .12), 0 2px 4px -1px rgba(0, 184, 217, .2);
}

.button-cta-lg {
    width: 360px;
    height: 50px;
    line-height: 3.68rem;

}

.button-cta-md {
    width: 268px;
    height: 46px;
    line-height: 3rem;

}

.button-cta-sm {
    width: 160px;
    height: 40px;
    line-height: 2.618rem;

}

.button-action-primary,
.button-action-primary:hover {
    color: #FFFFFF;
    background-color: #FF5630;
    border: 1px solid #FF5630;
}

.button-action-secondary,
.button-action-secondary:hover {
    color: #FFFFFF;
    background-color: #00B8D9;
    border: 1px solid #00B8D9;
}

.button-alt-action {
    color: #172b4d;
    background-color: #e6fcff;
    border: 1px solid #b3f5ff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

/* HEADER */
header {
    width: 100%;
}

header .md-gr {
    padding: 0;
}

header.mdl-layout__header {
    display: inherit;
}

header h1 {
    margin: 0;
}

header img, header amp-img {
    margin-left: 5px;
    vertical-align: middle;
}

header .mdl-navigation {
    float: left;
    height: 64px;
}

header .mdl-navigation ul {
    display: flex;
}

nav.mdl-navigation ul {
    margin: 0;
    padding: 0;
}

nav.mdl-navigation li {
    list-style: none;
}

/* Footer */
footer.footer-bare {
    margin: 20px auto 0;
    width: 100%;
    text-align: center;
    padding: 0;
    font-size: 0.8rem;
}

footer.footer-bare a,
footer.footer-bare a:hover,
footer.footer-bare a:visited {
    color: #00B8D9;
    text-decoration: none;
    margin: 0 7px;
}

/* FOOTER */
.mdl-mega-footer.mdl-mega-footer {
    padding: 0;
    color: #ffffff;
    font-size: 1rem;
    align-items: center;
    background-color: #6554C0;

}

.footer-address {
    padding-bottom: 10px;
    line-height: 1.72rem;
}

.footer-email {
    padding-bottom: 15px;
}

.footer-email a {
    color: white;
}

.mega-footer-contact span {
    padding-right: 10px;

}
.mega-footer-contact span span{
    display: contents;
}

.mega-footer-contact span:first-child {
    padding-right: 0;
}

.mega-footer-img {
    text-align: left;
    font-size: 2.630rem;
}

.mega-footer-img img {
    max-width: 100%;
    width: 100px;
    text-align: left;
}

.mini-footer-grid {
    padding: 0;
}

.mdl-mini-footer.mdl-mini-footer {
    align-items: center;
    background-color: #5648A3;
    color: white;
}

.mini-footer-items a {
    font-size: 0.720rem;
    padding-right: 10px;
    color: white;
}

.mega-footer-right-section i {
    font-size: 1.468rem;
}

.footer-address-i {
    float: right;
}

.footer-address-text {
    display: grid;
}

.mini-footer-left-section {
    direction: rtl;
    text-align: left;
}

.mini-footer-left-section p {
    font-size: 0.720rem;
    margin: 0;

}

.mini-footer-middle-section {
    text-align: center;
    padding-top: 5px;
}

.mini-footer-social {
    display: -webkit-inline-flex;

}

.mini-footer-social a {
    color: white;

}

.mini-footer-social a:nth-of-type(2) {
    padding: 0 10px;

}

.mega-footer-right-section i {
    display: none;

}

.mini-footer-left-section p {
    margin-top: 7px;

}

.mini-footer-grid {
    display: -webkit-box;
}

#outer-wrapper .mdl-layout__drawer,
#outer-wrapper .mdl-layout__drawer-button {
    display: none;
}

.amp-hamburger {
    display: none;
    margin: 20px 4px 4px 15px;
    position: absolute;
    height: 48px;
    width: 48px;
    border: 0;
    webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 4;
}

.amp-hamburger div {
    width: 35px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
}

/* RESPONSIVE */
@media screen and (max-width: 1280px) {
    .mega-footer-contact span {
        display: block;
        padding-bottom: 15px;
    }

    .mega-footer-contact span {
        padding-right: 0;

    }

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 840px) {

    .mini-footer-left-section {
        direction: rtl;
        text-align: left;
    }

    .mega-footer-info {
        font-size: 0.85rem;
    }

    .mega-footer-contact span {
        display: block;
        padding-bottom: 15px;
    }

    .mega-footer-img {
        padding-top: 0;
        min-inline-size: max-content;
    }

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 736px) {
}

@media screen and (max-width: 667px) {

}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 568px) {
}

@media screen and (max-width: 480px) {
    .header div:first-of-type {
        width: 100%;
        margin: 0 auto;
        padding: 8px;
    }

    #outer-wrapper .mdl-layout__drawer,
    #outer-wrapper .mdl-layout__drawer-button {
        display: inline-block;
    }

    .amp-hamburger {
        display: inline-block;
    }

    .header div:nth-of-type(2) {
        display: none;
    }

    .mini-footer-left-section {

        text-align: center;
    }

    .mini-footer-right-section {
        padding-top: 10px;
        text-align: center;
    }

    .mega-footer-img {
        text-align: center;
    }

    .mini-footer-middle-section {
        padding-top: 20px;
    }

}

@media screen and (max-width: 414px) {
    .button-cta {
        width: 90%;
    }
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 360px) {
}

@media screen and (max-width: 320px) {
}

/* MATERIAL */
.mdl-textfield.mdl-textfield__helper-line {
    padding: 2px 0;
    text-align: justify;
    color: #B3BAC5;
}

.mdl-textfield__helper-text {
    font-size: 0.8rem;
}

.mdl-menu__item {
    text-align: right;
}

.mdl-navigation {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.mdl-navigation__link {
    color: rgb(66, 66, 66);
    text-decoration: none;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    opacity: 0.87;
}

.mdl-navigation__link .material-icons {
    vertical-align: middle;
}

.mdl-layout {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.mdl-layout.is-small-screen .mdl-layout--large-screen-only {
    display: none;
}

.mdl-layout:not(.is-small-screen) .mdl-layout--small-screen-only {
    display: none;
}

.mdl-layout__container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mdl-layout__title,
.mdl-layout-title {
    display: block;
    position: relative;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.02em;
    font-weight: 400;
    box-sizing: border-box;
}

.mdl-layout-spacer {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.mdl-layout__drawer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 240px;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-right: 1px solid rgb(224, 224, 224);
    background: rgb(250, 250, 250);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: -webkit-transform;
    transition-property: transform, -webkit-transform;
    color: rgb(66, 66, 66);
    overflow: visible;
    overflow-y: auto;
    z-index: 2147483647;
}

.mdl-layout__drawer.is-visible {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.mdl-layout__drawer.is-visible ~ .mdl-layout__content.mdl-layout__content {
    overflow: hidden;
}

.mdl-layout__drawer > * {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.mdl-layout__drawer > .mdl-layout__title,
.mdl-layout__drawer > .mdl-layout-title {
    line-height: 64px;
    padding-left: 40px;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__drawer > .mdl-layout__title,
    .mdl-layout__drawer > .mdl-layout-title {
        line-height: 56px;
        padding-left: 16px;
    }
}

.mdl-layout__drawer .mdl-navigation {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding-top: 16px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 16px 40px;
    margin: 0;
    color: #757575;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
        padding: 16px 16px;
    }
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: rgb(224, 224, 224);
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link--current {
    background-color: rgb(224, 224, 224);
    color: rgb(0, 0, 0);
}

@media screen and (min-width: 1025px) {
    .mdl-layout--fixed-drawer > .mdl-layout__drawer {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.mdl-layout__drawer-button {
    display: block;
    position: absolute;
    height: 48px;
    width: 48px;
    border: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    font-size: 26px;
    line-height: 56px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 8px 12px;
    top: 0;
    left: 0;
    color: rgb(255, 255, 255);
    z-index: 4;
}

.mdl-layout__header .mdl-layout__drawer-button {
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: inherit;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header .mdl-layout__drawer-button {
        margin: 4px;
    }
}

@media screen and (max-width: 1024px) {
    .mdl-layout__drawer-button {
        margin: 4px;
        color: rgba(0, 0, 0, 0.5);
    }
}

@media screen and (min-width: 1025px) {
    .mdl-layout__drawer-button {
        line-height: 54px;
    }

    .mdl-layout--no-desktop-drawer-button .mdl-layout__drawer-button,
    .mdl-layout--fixed-drawer > .mdl-layout__drawer-button,
    .mdl-layout--no-drawer-button .mdl-layout__drawer-button {
        display: none;
    }
}

.mdl-layout__header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    box-sizing: border-box;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    min-height: 64px;
    max-height: 1000px;
    z-index: 3;
    background-color: rgb(63, 81, 181);
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: max-height, box-shadow;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header {
        min-height: 56px;
    }
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header {
    margin-left: 240px;
    width: calc(100% - 240px);
}

@media screen and (min-width: 1025px) {
    .mdl-layout--fixed-drawer > .mdl-layout__header .mdl-layout__header-row {
        padding-left: 40px;
    }
}

.mdl-layout__header > .mdl-layout-icon {
    position: absolute;
    left: 40px;
    top: 16px;
    height: 32px;
    width: 32px;
    overflow: hidden;
    z-index: 3;
    display: block;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header > .mdl-layout-icon {
        left: 16px;
        top: 12px;
    }
}

.mdl-layout.has-drawer .mdl-layout__header > .mdl-layout-icon {
    display: none;
}

.mdl-layout__header.is-compact {
    max-height: 64px;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header.is-compact {
        max-height: 56px;
    }
}

.mdl-layout__header.is-compact.has-tabs {
    height: 112px;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header.is-compact.has-tabs {
        min-height: 104px;
    }
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header {
        display: none;
    }

    .mdl-layout--fixed-header > .mdl-layout__header {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.mdl-layout__header--transparent.mdl-layout__header--transparent {
    background-color: transparent;
    box-shadow: none;
}

.mdl-layout__header--seamed {
    box-shadow: none;
}

.mdl-layout__header--scroll {
    box-shadow: none;
}

.mdl-layout__header--waterfall {
    box-shadow: none;
    overflow: hidden;
}

.mdl-layout__header--waterfall.is-casting-shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mdl-layout__header--waterfall.mdl-layout__header--waterfall-hide-top {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.mdl-layout__header-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 64px;
    margin: 0;
    padding: 0 40px 0 80px;
}

.mdl-layout--no-drawer-button .mdl-layout__header-row {
    padding-left: 40px;
}

@media screen and (min-width: 1025px) {
    .mdl-layout--no-desktop-drawer-button .mdl-layout__header-row {
        padding-left: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header-row {
        height: 56px;
        padding: 0 16px 0 72px;
    }

    .mdl-layout--no-drawer-button .mdl-layout__header-row {
        padding-left: 16px;
    }
}

.mdl-layout__header-row > * {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.mdl-layout__header--scroll .mdl-layout__header-row {
    width: 100%;
}

.mdl-layout__header-row .mdl-navigation {
    margin: 0;
    padding: 0;
    height: 64px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header-row .mdl-navigation {
        height: 56px;
    }
}

.mdl-layout__header-row .mdl-navigation__link {
    display: block;
    color: rgb(255, 255, 255);
    line-height: 64px;
    padding: 0 24px;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header-row .mdl-navigation__link {
        line-height: 56px;
        padding: 0 16px;
    }
}

.mdl-layout__obfuscator {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    visibility: hidden;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mdl-layout__obfuscator.is-visible {
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
}

@supports (pointer-events: auto) {
    .mdl-layout__obfuscator {
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition-property: opacity;
        visibility: visible;
        pointer-events: none;
    }

    .mdl-layout__obfuscator.is-visible {
        pointer-events: auto;
        opacity: 1;
    }
}

.md-gr {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 auto 0 auto;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.md-gr.md-gr--no-spacing {
    padding: 0;
}

.md-cl {
    box-sizing: border-box;
}

.md-cl--top {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.md-cl--middle {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.md-cl--bottom {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.md-cl--stretch {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}

.md-gr.md-gr--no-spacing > .md-cl {
    margin: 0;
}

@media (max-width: 479px) {
    .md-gr {
        padding: 8px;
    }

    .md-cl {
        margin: 8px;
        width: calc(100% - 16px);
    }

    .md-gr--no-spacing > .md-cl {
        width: 100%;
    }

    .md-cl--hide-phone {
        display: none;
    }

    .md-cl--order-1-phone.md-cl--order-1-phone {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .md-cl--order-2-phone.md-cl--order-2-phone {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }

    .md-cl--order-3-phone.md-cl--order-3-phone {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
    }

    .md-cl--order-4-phone.md-cl--order-4-phone {
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4;
    }

    .md-cl--order-5-phone.md-cl--order-5-phone {
        -webkit-order: 5;
        -ms-flex-order: 5;
        order: 5;
    }

    .md-cl--order-6-phone.md-cl--order-6-phone {
        -webkit-order: 6;
        -ms-flex-order: 6;
        order: 6;
    }

    .md-cl--order-7-phone.md-cl--order-7-phone {
        -webkit-order: 7;
        -ms-flex-order: 7;
        order: 7;
    }

    .md-cl--order-8-phone.md-cl--order-8-phone {
        -webkit-order: 8;
        -ms-flex-order: 8;
        order: 8;
    }

    .md-cl--order-9-phone.md-cl--order-9-phone {
        -webkit-order: 9;
        -ms-flex-order: 9;
        order: 9;
    }

    .md-cl--order-10-phone.md-cl--order-10-phone {
        -webkit-order: 10;
        -ms-flex-order: 10;
        order: 10;
    }

    .md-cl--order-11-phone.md-cl--order-11-phone {
        -webkit-order: 11;
        -ms-flex-order: 11;
        order: 11;
    }

    .md-cl--order-12-phone.md-cl--order-12-phone {
        -webkit-order: 12;
        -ms-flex-order: 12;
        order: 12;
    }

    .md-cl--1-col,
    .md-cl--1-col-phone.md-cl--1-col-phone {
        width: calc(25% - 16px);
    }

    .md-gr--no-spacing > .md-cl--1-col,
    .md-gr--no-spacing > .md-cl--1-col-phone.md-cl--1-col-phone {
        width: 25%;
    }

    .md-cl--2-col,
    .md-cl--2-col-phone.md-cl--2-col-phone {
        width: calc(50% - 16px);
    }

    .md-gr--no-spacing > .md-cl--2-col,
    .md-gr--no-spacing > .md-cl--2-col-phone.md-cl--2-col-phone {
        width: 50%;
    }

    .md-cl--3-col,
    .md-cl--3-col-phone.md-cl--3-col-phone {
        width: calc(75% - 16px);
    }

    .md-gr--no-spacing > .md-cl--3-col,
    .md-gr--no-spacing > .md-cl--3-col-phone.md-cl--3-col-phone {
        width: 75%;
    }

    .md-cl--4-col,
    .md-cl--4-col-phone.md-cl--4-col-phone {
        width: calc(100% - 16px);
    }

    .md-gr--no-spacing > .md-cl--4-col,
    .md-gr--no-spacing > .md-cl--4-col-phone.md-cl--4-col-phone {
        width: 100%;
    }

    .md-cl--5-col,
    .md-cl--5-col-phone.md-cl--5-col-phone {
        width: calc(100% - 16px);
    }

    .md-gr--no-spacing > .md-cl--5-col,
    .md-gr--no-spacing > .md-cl--5-col-phone.md-cl--5-col-phone {
        width: 100%;
    }

    .md-cl--6-col,
    .md-cl--6-col-phone.md-cl--6-col-phone {
        width: calc(100% - 16px);
    }

    .md-gr--no-spacing > .md-cl--6-col,
    .md-gr--no-spacing > .md-cl--6-col-phone.md-cl--6-col-phone {
        width: 100%;
    }

    .md-cl--7-col,
    .md-cl--7-col-phone.md-cl--7-col-phone {
        width: calc(100% - 16px);
    }

    .md-gr--no-spacing > .md-cl--7-col,
    .md-gr--no-spacing > .md-cl--7-col-phone.md-cl--7-col-phone {
        width: 100%;
    }

    .md-cl--8-col,
    .md-cl--8-col-phone.md-cl--8-col-phone {
        width: calc(100% - 16px);
    }

    .md-gr--no-spacing > .md-cl--8-col,
    .md-gr--no-spacing > .md-cl--8-col-phone.md-cl--8-col-phone {
        width: 100%;
    }

    .md-cl--9-col,
    .md-cl--9-col-phone.md-cl--9-col-phone {
        width: calc(100% - 16px);
    }

    .md-gr--no-spacing > .md-cl--9-col,
    .md-gr--no-spacing > .md-cl--9-col-phone.md-cl--9-col-phone {
        width: 100%;
    }

    .md-cl--10-col,
    .md-cl--10-col-phone.md-cl--10-col-phone {
        width: calc(100% - 16px);
    }

    .md-gr--no-spacing > .md-cl--10-col,
    .md-gr--no-spacing > .md-cl--10-col-phone.md-cl--10-col-phone {
        width: 100%;
    }

    .md-cl--11-col,
    .md-cl--11-col-phone.md-cl--11-col-phone {
        width: calc(100% - 16px);
    }

    .md-gr--no-spacing > .md-cl--11-col,
    .md-gr--no-spacing > .md-cl--11-col-phone.md-cl--11-col-phone {
        width: 100%;
    }

    .md-cl--12-col,
    .md-cl--12-col-phone.md-cl--12-col-phone {
        width: calc(100% - 16px);
    }

    .md-gr--no-spacing > .md-cl--12-col,
    .md-gr--no-spacing > .md-cl--12-col-phone.md-cl--12-col-phone {
        width: 100%;
    }

    .md-cl--1-offset,
    .md-cl--1-offset-phone.md-cl--1-offset-phone {
        margin-left: calc(25% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--1-offset,
    .md-gr.md-gr--no-spacing > .md-cl--1-offset-phone.md-cl--1-offset-phone {
        margin-left: 25%;
    }

    .md-cl--2-offset,
    .md-cl--2-offset-phone.md-cl--2-offset-phone {
        margin-left: calc(50% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--2-offset,
    .md-gr.md-gr--no-spacing > .md-cl--2-offset-phone.md-cl--2-offset-phone {
        margin-left: 50%;
    }

    .md-cl--3-offset,
    .md-cl--3-offset-phone.md-cl--3-offset-phone {
        margin-left: calc(75% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--3-offset,
    .md-gr.md-gr--no-spacing > .md-cl--3-offset-phone.md-cl--3-offset-phone {
        margin-left: 75%;
    }
}

@media (min-width: 480px) and (max-width: 839px) {
    .md-gr {
        padding: 8px;
    }

    .md-cl {
        margin: 8px;
        width: calc(50% - 16px);
    }

    .md-gr--no-spacing > .md-cl {
        width: 50%;
    }

    .md-cl--hide-tablet {
        display: none;
    }

    .md-cl--order-1-tablet.md-cl--order-1-tablet {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .md-cl--order-2-tablet.md-cl--order-2-tablet {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }

    .md-cl--order-3-tablet.md-cl--order-3-tablet {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
    }

    .md-cl--order-4-tablet.md-cl--order-4-tablet {
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4;
    }

    .md-cl--order-5-tablet.md-cl--order-5-tablet {
        -webkit-order: 5;
        -ms-flex-order: 5;
        order: 5;
    }

    .md-cl--order-6-tablet.md-cl--order-6-tablet {
        -webkit-order: 6;
        -ms-flex-order: 6;
        order: 6;
    }

    .md-cl--order-7-tablet.md-cl--order-7-tablet {
        -webkit-order: 7;
        -ms-flex-order: 7;
        order: 7;
    }

    .md-cl--order-8-tablet.md-cl--order-8-tablet {
        -webkit-order: 8;
        -ms-flex-order: 8;
        order: 8;
    }

    .md-cl--order-9-tablet.md-cl--order-9-tablet {
        -webkit-order: 9;
        -ms-flex-order: 9;
        order: 9;
    }

    .md-cl--order-10-tablet.md-cl--order-10-tablet {
        -webkit-order: 10;
        -ms-flex-order: 10;
        order: 10;
    }

    .md-cl--order-11-tablet.md-cl--order-11-tablet {
        -webkit-order: 11;
        -ms-flex-order: 11;
        order: 11;
    }

    .md-cl--order-12-tablet.md-cl--order-12-tablet {
        -webkit-order: 12;
        -ms-flex-order: 12;
        order: 12;
    }

    .md-cl--1-col,
    .md-cl--1-col-tablet.md-cl--1-col-tablet {
        width: calc(12.5% - 16px);
    }

    .md-gr--no-spacing > .md-cl--1-col,
    .md-gr--no-spacing > .md-cl--1-col-tablet.md-cl--1-col-tablet {
        width: 12.5%;
    }

    .md-cl--2-col,
    .md-cl--2-col-tablet.md-cl--2-col-tablet {
        width: calc(25% - 16px);
    }

    .md-gr--no-spacing > .md-cl--2-col,
    .md-gr--no-spacing > .md-cl--2-col-tablet.md-cl--2-col-tablet {
        width: 25%;
    }

    .md-cl--3-col,
    .md-cl--3-col-tablet.md-cl--3-col-tablet {
        width: calc(37.5% - 16px);
    }

    .md-gr--no-spacing > .md-cl--3-col,
    .md-gr--no-spacing > .md-cl--3-col-tablet.md-cl--3-col-tablet {
        width: 37.5%;
    }

    .md-cl--4-col,
    .md-cl--4-col-tablet.md-cl--4-col-tablet {
        width: calc(50% - 16px);
    }

    .md-gr--no-spacing > .md-cl--4-col,
    .md-gr--no-spacing > .md-cl--4-col-tablet.md-cl--4-col-tablet {
        width: 50%;
    }

    .md-cl--5-col,
    .md-cl--5-col-tablet.md-cl--5-col-tablet {
        width: calc(62.5% - 16px);
    }

    .md-gr--no-spacing > .md-cl--5-col,
    .md-gr--no-spacing > .md-cl--5-col-tablet.md-cl--5-col-tablet {
        width: 62.5%;
    }

    .md-cl--6-col,
    .md-cl--6-col-tablet.md-cl--6-col-tablet {
        width: calc(75% - 16px);
    }

    .md-gr--no-spacing > .md-cl--6-col,
    .md-gr--no-spacing > .md-cl--6-col-tablet.md-cl--6-col-tablet {
        width: 75%;
    }

    .md-cl--7-col,
    .md-cl--7-col-tablet.md-cl--7-col-tablet {
        width: calc(87.5% - 16px);
    }

    .md-gr--no-spacing > .md-cl--7-col,
    .md-gr--no-spacing > .md-cl--7-col-tablet.md-cl--7-col-tablet {
        width: 87.5%;
    }

    .md-cl--8-col,
    .md-cl--8-col-tablet.md-cl--8-col-tablet {
        width: calc(100% - 16px);
    }

    .md-gr--no-spacing > .md-cl--8-col,
    .md-gr--no-spacing > .md-cl--8-col-tablet.md-cl--8-col-tablet {
        width: 100%;
    }

    .md-cl--9-col,
    .md-cl--9-col-tablet.md-cl--9-col-tablet {
        width: calc(100% - 16px);
    }

    .md-gr--no-spacing > .md-cl--9-col,
    .md-gr--no-spacing > .md-cl--9-col-tablet.md-cl--9-col-tablet {
        width: 100%;
    }

    .md-cl--10-col,
    .md-cl--10-col-tablet.md-cl--10-col-tablet {
        width: calc(100% - 16px);
    }

    .md-gr--no-spacing > .md-cl--10-col,
    .md-gr--no-spacing > .md-cl--10-col-tablet.md-cl--10-col-tablet {
        width: 100%;
    }

    .md-cl--11-col,
    .md-cl--11-col-tablet.md-cl--11-col-tablet {
        width: calc(100% - 16px);
    }

    .md-gr--no-spacing > .md-cl--11-col,
    .md-gr--no-spacing > .md-cl--11-col-tablet.md-cl--11-col-tablet {
        width: 100%;
    }

    .md-cl--12-col,
    .md-cl--12-col-tablet.md-cl--12-col-tablet {
        width: calc(100% - 16px);
    }

    .md-gr--no-spacing > .md-cl--12-col,
    .md-gr--no-spacing > .md-cl--12-col-tablet.md-cl--12-col-tablet {
        width: 100%;
    }

    .md-cl--1-offset,
    .md-cl--1-offset-tablet.md-cl--1-offset-tablet {
        margin-left: calc(12.5% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--1-offset,
    .md-gr.md-gr--no-spacing > .md-cl--1-offset-tablet.md-cl--1-offset-tablet {
        margin-left: 12.5%;
    }

    .md-cl--2-offset,
    .md-cl--2-offset-tablet.md-cl--2-offset-tablet {
        margin-left: calc(25% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--2-offset,
    .md-gr.md-gr--no-spacing > .md-cl--2-offset-tablet.md-cl--2-offset-tablet {
        margin-left: 25%;
    }

    .md-cl--3-offset,
    .md-cl--3-offset-tablet.md-cl--3-offset-tablet {
        margin-left: calc(37.5% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--3-offset,
    .md-gr.md-gr--no-spacing > .md-cl--3-offset-tablet.md-cl--3-offset-tablet {
        margin-left: 37.5%;
    }

    .md-cl--4-offset,
    .md-cl--4-offset-tablet.md-cl--4-offset-tablet {
        margin-left: calc(50% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--4-offset,
    .md-gr.md-gr--no-spacing > .md-cl--4-offset-tablet.md-cl--4-offset-tablet {
        margin-left: 50%;
    }

    .md-cl--5-offset,
    .md-cl--5-offset-tablet.md-cl--5-offset-tablet {
        margin-left: calc(62.5% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--5-offset,
    .md-gr.md-gr--no-spacing > .md-cl--5-offset-tablet.md-cl--5-offset-tablet {
        margin-left: 62.5%;
    }

    .md-cl--6-offset,
    .md-cl--6-offset-tablet.md-cl--6-offset-tablet {
        margin-left: calc(75% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--6-offset,
    .md-gr.md-gr--no-spacing > .md-cl--6-offset-tablet.md-cl--6-offset-tablet {
        margin-left: 75%;
    }

    .md-cl--7-offset,
    .md-cl--7-offset-tablet.md-cl--7-offset-tablet {
        margin-left: calc(87.5% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--7-offset,
    .md-gr.md-gr--no-spacing > .md-cl--7-offset-tablet.md-cl--7-offset-tablet {
        margin-left: 87.5%;
    }
}

@media (min-width: 840px) {
    .md-gr {
        padding: 8px;
    }

    .md-cl {
        margin: 8px;
        width: calc(33.3333333333% - 16px);
    }

    .md-gr--no-spacing > .md-cl {
        width: 33.3333333333%;
    }

    .md-cl--hide-desktop {
        display: none;
    }

    .md-cl--order-1-desktop.md-cl--order-1-desktop {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .md-cl--order-2-desktop.md-cl--order-2-desktop {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }

    .md-cl--order-3-desktop.md-cl--order-3-desktop {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
    }

    .md-cl--order-4-desktop.md-cl--order-4-desktop {
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4;
    }

    .md-cl--order-5-desktop.md-cl--order-5-desktop {
        -webkit-order: 5;
        -ms-flex-order: 5;
        order: 5;
    }

    .md-cl--order-6-desktop.md-cl--order-6-desktop {
        -webkit-order: 6;
        -ms-flex-order: 6;
        order: 6;
    }

    .md-cl--order-7-desktop.md-cl--order-7-desktop {
        -webkit-order: 7;
        -ms-flex-order: 7;
        order: 7;
    }

    .md-cl--order-8-desktop.md-cl--order-8-desktop {
        -webkit-order: 8;
        -ms-flex-order: 8;
        order: 8;
    }

    .md-cl--order-9-desktop.md-cl--order-9-desktop {
        -webkit-order: 9;
        -ms-flex-order: 9;
        order: 9;
    }

    .md-cl--order-10-desktop.md-cl--order-10-desktop {
        -webkit-order: 10;
        -ms-flex-order: 10;
        order: 10;
    }

    .md-cl--order-11-desktop.md-cl--order-11-desktop {
        -webkit-order: 11;
        -ms-flex-order: 11;
        order: 11;
    }

    .md-cl--order-12-desktop.md-cl--order-12-desktop {
        -webkit-order: 12;
        -ms-flex-order: 12;
        order: 12;
    }

    .md-cl--1-col,
    .md-cl--1-col-desktop.md-cl--1-col-desktop {
        width: calc(8.3333333333% - 16px);
    }

    .md-gr--no-spacing > .md-cl--1-col,
    .md-gr--no-spacing > .md-cl--1-col-desktop.md-cl--1-col-desktop {
        width: 8.3333333333%;
    }

    .md-cl--2-col,
    .md-cl--2-col-desktop.md-cl--2-col-desktop {
        width: calc(16.6666666667% - 16px);
    }

    .md-gr--no-spacing > .md-cl--2-col,
    .md-gr--no-spacing > .md-cl--2-col-desktop.md-cl--2-col-desktop {
        width: 16.6666666667%;
    }

    .md-cl--3-col,
    .md-cl--3-col-desktop.md-cl--3-col-desktop {
        width: calc(25% - 16px);
    }

    .md-gr--no-spacing > .md-cl--3-col,
    .md-gr--no-spacing > .md-cl--3-col-desktop.md-cl--3-col-desktop {
        width: 25%;
    }

    .md-cl--4-col,
    .md-cl--4-col-desktop.md-cl--4-col-desktop {
        width: calc(33.3333333333% - 16px);
    }

    .md-gr--no-spacing > .md-cl--4-col,
    .md-gr--no-spacing > .md-cl--4-col-desktop.md-cl--4-col-desktop {
        width: 33.3333333333%;
    }

    .md-cl--5-col,
    .md-cl--5-col-desktop.md-cl--5-col-desktop {
        width: calc(41.6666666667% - 16px);
    }

    .md-gr--no-spacing > .md-cl--5-col,
    .md-gr--no-spacing > .md-cl--5-col-desktop.md-cl--5-col-desktop {
        width: 41.6666666667%;
    }

    .md-cl--6-col,
    .md-cl--6-col-desktop.md-cl--6-col-desktop {
        width: calc(50% - 16px);
    }

    .md-gr--no-spacing > .md-cl--6-col,
    .md-gr--no-spacing > .md-cl--6-col-desktop.md-cl--6-col-desktop {
        width: 50%;
    }

    .md-cl--7-col,
    .md-cl--7-col-desktop.md-cl--7-col-desktop {
        width: calc(58.3333333333% - 16px);
    }

    .md-gr--no-spacing > .md-cl--7-col,
    .md-gr--no-spacing > .md-cl--7-col-desktop.md-cl--7-col-desktop {
        width: 58.3333333333%;
    }

    .md-cl--8-col,
    .md-cl--8-col-desktop.md-cl--8-col-desktop {
        width: calc(66.6666666667% - 16px);
    }

    .md-gr--no-spacing > .md-cl--8-col,
    .md-gr--no-spacing > .md-cl--8-col-desktop.md-cl--8-col-desktop {
        width: 66.6666666667%;
    }

    .md-cl--9-col,
    .md-cl--9-col-desktop.md-cl--9-col-desktop {
        width: calc(75% - 16px);
    }

    .md-gr--no-spacing > .md-cl--9-col,
    .md-gr--no-spacing > .md-cl--9-col-desktop.md-cl--9-col-desktop {
        width: 75%;
    }

    .md-cl--10-col,
    .md-cl--10-col-desktop.md-cl--10-col-desktop {
        width: calc(83.3333333333% - 16px);
    }

    .md-gr--no-spacing > .md-cl--10-col,
    .md-gr--no-spacing > .md-cl--10-col-desktop.md-cl--10-col-desktop {
        width: 83.3333333333%;
    }

    .md-cl--11-col,
    .md-cl--11-col-desktop.md-cl--11-col-desktop {
        width: calc(91.6666666667% - 16px);
    }

    .md-gr--no-spacing > .md-cl--11-col,
    .md-gr--no-spacing > .md-cl--11-col-desktop.md-cl--11-col-desktop {
        width: 91.6666666667%;
    }

    .md-cl--12-col,
    .md-cl--12-col-desktop.md-cl--12-col-desktop {
        width: calc(100% - 16px);
    }

    .md-gr--no-spacing > .md-cl--12-col,
    .md-gr--no-spacing > .md-cl--12-col-desktop.md-cl--12-col-desktop {
        width: 100%;
    }

    .md-cl--1-offset,
    .md-cl--1-offset-desktop.md-cl--1-offset-desktop {
        margin-left: calc(8.3333333333% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--1-offset,
    .md-gr.md-gr--no-spacing > .md-cl--1-offset-desktop.md-cl--1-offset-desktop {
        margin-left: 8.3333333333%;
    }

    .md-cl--2-offset,
    .md-cl--2-offset-desktop.md-cl--2-offset-desktop {
        margin-left: calc(16.6666666667% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--2-offset,
    .md-gr.md-gr--no-spacing .md-cl--2-offset-desktop.md-cl--2-offset-desktop {
        margin-left: 16.6666666667%;
    }

    .md-cl--3-offset,
    .md-cl--3-offset-desktop.md-cl--3-offset-desktop {
        margin-left: calc(25% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--3-offset,
    .md-gr.md-gr--no-spacing > .md-cl--3-offset-desktop.md-cl--3-offset-desktop {
        margin-left: 25%;
    }

    .md-cl--4-offset,
    .md-cl--4-offset-desktop.md-cl--4-offset-desktop {
        margin-left: calc(33.3333333333% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--4-offset,
    .md-gr.md-gr--no-spacing > .md-cl--4-offset-desktop.md-cl--4-offset-desktop {
        margin-left: 33.3333333333%;
    }

    .md-cl--5-offset,
    .md-cl--5-offset-desktop.md-cl--5-offset-desktop {
        margin-left: calc(41.6666666667% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--5-offset,
    .md-gr.md-gr--no-spacing > .md-cl--5-offset-desktop.md-cl--5-offset-desktop {
        margin-left: 41.6666666667%;
    }

    .md-cl--6-offset,
    .md-cl--6-offset-desktop.md-cl--6-offset-desktop {
        margin-left: calc(50% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--6-offset,
    .md-gr.md-gr--no-spacing > .md-cl--6-offset-desktop.md-cl--6-offset-desktop {
        margin-left: 50%;
    }

    .md-cl--7-offset,
    .md-cl--7-offset-desktop.md-cl--7-offset-desktop {
        margin-left: calc(58.3333333333% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--7-offset,
    .md-gr.md-gr--no-spacing > .md-cl--7-offset-desktop.md-cl--7-offset-desktop {
        margin-left: 58.3333333333%;
    }

    .md-cl--8-offset,
    .md-cl--8-offset-desktop.md-cl--8-offset-desktop {
        margin-left: calc(66.6666666667% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--8-offset,
    .md-gr.md-gr--no-spacing > .md-cl--8-offset-desktop.md-cl--8-offset-desktop {
        margin-left: 66.6666666667%;
    }

    .md-cl--9-offset,
    .md-cl--9-offset-desktop.md-cl--9-offset-desktop {
        margin-left: calc(75% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--9-offset,
    .md-gr.md-gr--no-spacing > .md-cl--9-offset-desktop.md-cl--9-offset-desktop {
        margin-left: 75%;
    }

    .md-cl--10-offset,
    .md-cl--10-offset-desktop.md-cl--10-offset-desktop {
        margin-left: calc(83.3333333333% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--10-offset,
    .md-gr.md-gr--no-spacing > .md-cl--10-offset-desktop.md-cl--10-offset-desktop {
        margin-left: 83.3333333333%;
    }

    .md-cl--11-offset,
    .md-cl--11-offset-desktop.md-cl--11-offset-desktop {
        margin-left: calc(91.6666666667% + 8px);
    }

    .md-gr.md-gr--no-spacing > .md-cl--11-offset,
    .md-gr.md-gr--no-spacing > .md-cl--11-offset-desktop.md-cl--11-offset-desktop {
        margin-left: 91.6666666667%;
    }
}

.md-btn {
    background: transparent;
    border: none;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    position: relative;
    width: 360px;
    height: 60px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

@media screen and (max-width: 414px) {
    .md-btn {
        width: 100%;
    }
}

.md-btn::-moz-focus-inner {
    border: 0;
}

.md-btn:hover {
    background-color: rgba(158, 158, 158, 0.20);
}

.md-btn:focus:not(:active) {
    background-color: rgba(0, 0, 0, 0.12);
}

.md-btn:active {
    background-color: rgba(158, 158, 158, 0.40);
}

.md-btn.md-btn--colored {
    color: rgb(63, 81, 181);
}

.md-btn.md-btn--colored:focus:not(:active) {
    background-color: rgba(0, 0, 0, 0.12);
}

input.md-btn[type="submit"] {
    -webkit-appearance: none;
}

.md-btn--raised {
    background: rgba(158, 158, 158, 0.20);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.md-btn--raised:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    background-color: rgba(158, 158, 158, 0.40);
}

.md-btn--raised:focus:not(:active) {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
    background-color: rgba(158, 158, 158, 0.40);
}

.md-btn--raised.md-btn--colored {
    background: rgb(63, 81, 181);
    color: rgb(255, 255, 255);
}

.md-btn--raised.md-btn--colored:hover {
    background-color: rgb(63, 81, 181);
}

.md-btn--raised.md-btn--colored:active {
    background-color: rgb(63, 81, 181);
}

.md-btn--raised.md-btn--colored:focus:not(:active) {
    background-color: rgb(63, 81, 181);
}

.md-btn--raised.md-btn--colored .mdl-ripple {
    background: rgb(255, 255, 255);
}

.md-btn--fab {
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    padding: 0;
    overflow: hidden;
    background: rgba(158, 158, 158, 0.20);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    position: relative;
    line-height: normal;
}

.md-btn--fab .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px, -12px);
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 24px;
}

.md-btn--fab.md-btn--mini-fab {
    height: 40px;
    min-width: 40px;
    width: 40px;
}

.md-btn--fab .mdl-button__ripple-container {
    border-radius: 50%;
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}

.md-btn--fab:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    background-color: rgba(158, 158, 158, 0.40);
}

.md-btn--fab:focus:not(:active) {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
    background-color: rgba(158, 158, 158, 0.40);
}

.md-btn--fab.md-btn--colored {
    background: rgb(255, 64, 129);
    color: rgb(255, 255, 255);
}

.md-btn--fab.md-btn--colored:hover {
    background-color: rgb(255, 64, 129);
}

.md-btn--fab.md-btn--colored:focus:not(:active) {
    background-color: rgb(255, 64, 129);
}

.md-btn--fab.md-btn--colored:active {
    background-color: rgb(255, 64, 129);
}

.md-btn--fab.md-btn--colored .mdl-ripple {
    background: rgb(255, 255, 255);
}

.md-btn--icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    color: inherit;
    line-height: normal;
}

.md-btn--icon .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px, -12px);
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 24px;
}

.md-btn--icon.md-btn--mini-icon {
    height: 24px;
    min-width: 24px;
    width: 24px;
}

.md-btn--icon.md-btn--mini-icon .material-icons {
    top: 0;
    left: 0;
}

.md-btn--icon .mdl-button__ripple-container {
    border-radius: 50%;
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}

.mdl-button__ripple-container {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}

.md-btn[disabled] .mdl-button__ripple-container .mdl-ripple,
.md-btn.md-btn--disabled .mdl-button__ripple-container .mdl-ripple {
    background-color: transparent;
}

.md-btn--primary.md-btn--primary {
    color: #FF5630;
}

.md-btn--primary.md-btn--primary .mdl-ripple {
    background: rgb(255, 255, 255);
}

.md-btn--primary.md-btn--primary.md-btn--raised, .md-btn--primary.md-btn--primary.md-btn--fab {
    color: rgb(255, 255, 255);
    background-color: #FF5630;
}

.md-btn--accent.md-btn--accent {
    color: rgb(255, 64, 129);
}

.md-btn--accent.md-btn--accent .mdl-ripple {
    background: rgb(255, 255, 255);
}

.md-btn--accent.md-btn--accent.md-btn--raised, .md-btn--accent.md-btn--accent.md-btn--fab {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 64, 129);
}

.md-btn[disabled][disabled], .md-btn.md-btn--disabled.md-btn--disabled {
    color: rgba(0, 0, 0, 0.26);
    cursor: default;
    background-color: transparent;
}

.md-btn--fab[disabled][disabled], .md-btn--fab.md-btn--disabled.md-btn--disabled {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.26);
}

.md-btn--raised[disabled][disabled], .md-btn--raised.md-btn--disabled.md-btn--disabled {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
}

.md-btn--colored[disabled][disabled], .md-btn--colored.md-btn--disabled.md-btn--disabled {
    color: rgba(0, 0, 0, 0.26);
}

.md-btn .material-icons {
    vertical-align: middle;
}

.md-btn {
    font-family: iranyekan, Tahoma, sans-serif;
}

.mdl-layout__header {
    background-color: white;
    color: inherit;
    box-shadow: none;
    border-bottom: 1px solid rgba(151, 151, 151, 0.5)
}

.mdl-layout__header-row .mdl-navigation__link {
    color: inherit;
}

header .mdl-layout__header-row .mdl-navigation {
    height: 50px;
}

header img, header amp-img {
    height: 50px;
}