{% extends "upkook_web/bare.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}customers/css/styles.css">
{% endblock %}

{% block content %}
    <div class="c-wrapper">
        {% block customer-content %}
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script type="text/javascript">
    const ath = {
      age: {{ auth_cookie.age }},
      d: {% if auth_cookie.domain is not None %}"{{ auth_cookie.domain }}"{% else %}null{% endif %},
      path: "{{ auth_cookie.path }}",
      secure: {% if auth_cookie.secure %}true{% else %}false{% endif %},
      ak: "{{ auth_cookie.access_key }}",
      rk: "{{ auth_cookie.refresh_key }}",
    };
    const dashboardURL = "{{ dashboard_url }}";
  </script>
{% endblock %}