.prd-sec {
    background: rgb(244, 249, 253);
    margin: 0;
    padding: 0;
    border: 0;
}

.mid-prd-sec {
    background: #ffffff;
}

.prd-sec div.content {
    margin: auto;
    padding: 30px 15px;
}

.prd-sec div.title h2 {
    padding: 0 100px;
    text-align: center;
    font-size: 2.2rem;
}

.prd-sec .cus-op {
    display: flex;
    padding: 25px;
    margin: 45px auto;
    max-width: 520px;
    border: 2px solid #E1E6EF;
    border-radius: 6px;
    box-shadow: 0 0 12px 0 rgba(30, 40, 55, 0.1)
}

.prd-sec .cus-op p.quote-title {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    margin-bottom: 8px;
    color: #7786A0;
}

.prd-sec .cus-op p.quote-text {
    font-size: 18px;
    line-height: 29px
}

.prd-sec .cus-op div.quote-content {
    margin-right: 25px;
    padding: 0;
}

.prd-sec .lg-img {
    text-align: center;
    margin-bottom: 40px
}

.prd-sec .lg-img img {
    max-width: 750px;
    width: 100%;
    border-radius: 6px;
    vertical-align: middle;
    box-sizing: border-box
}

.prd-sec .lg-img-desc {
    padding: 0 100px;
    text-align: center
}

.prd-sec .lg-img-desc p {
    padding: 20px;
    font-size: 1.8rem;
}

.prd-sec .features {
    margin: 55px auto;
    max-width: 1000px;
}

.prd-sec .features div.ls-sec {
    margin-left: 15%
}

.prd-sec .features div.ls-items {
    text-align: right
}

.prd-sec .ls-items p.title {
    color: #3B4246;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 30px
}

.prd-sec .ls {
    list-style: none;
    padding: 0
}

.prd-sec ol.ls li {
    display: flex;
    color: #6D6D6D;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px
}

.prd-sec ol.ls p {
    text-align: justify;
}

.prd-sec ol.ls img {
    height: 20px;
    margin-left: 15px
}

.prd-sec .feature-desc {
    text-decoration: none
}

.prd-sec .desc-box {
    padding: 40px;
    min-height: auto;
    border: 2px solid #E1E6EF;
    background-color: white;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15)
}

.prd-sec .desc-box div {
    text-align: center;
    margin-bottom: 25px
}

.prd-sec .desc-box p {
    margin-top: 40px;
    line-height: 2.5rem;
}
.prd-sec .small-image{
    padding: 10px;
}
.small-image img{
    width: 80px;
    height: 80px;
}
@media screen and (max-width: 5120px) {

    .prd-sec .lg-img-desc p {
        padding: 30px;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }



}
@media screen and (max-width: 1080px){
    .prd-sec .desc-box{
        padding: 25px;
    }
    .prd-sec .md-gr {
        padding: 0;
    }
}

@media screen and (max-width: 960px) {
    .prd-sec .desc-box p{
        padding: 10px;
    }
    .prd-sec .desc-box{
        padding: 10px;
    }
}

@media screen and (max-width: 840px) {
    .prd-sec .lg-img-desc{
        padding: 0;
    }
    .prd-sec .lg-img-desc p{
        padding: 10px 20px;
    }
}


@media screen and (max-width: 760px) {
    .prd-sec .features {
        display: block;
        width: 100%;
        text-align: center;
    }
    .prd-sec .small{
        width: 100%;
    }

}

@media screen and (max-width: 667px){
    section.prd-sec div.title h2, .lg-img-desc p{
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 600px){
    section.prd-sec div.title h2{
        padding: 0;
    }

}
@media screen and (max-width: 480px){
    .cus-op{
        margin: 30px 5px;
    }
    .lg-img-desc{
        padding: 0 15px;
    }
    .desc-box{
        padding: 0;
        margin-left: 15px;
    }
    .features div.ls-items{
        margin-left: 15px;
    }
    .desc-box p{
        padding: 15px;
    }
    .prd-sec div.content{
        padding: 30px 3px;
    }
}
