header.mdl-layout__header {
    height: 64px;
    min-height: 64px;
}

header.mdl-layout__header,
#outer-wrapper .mdl-layout__drawer {
    background-color: #6554C0;
    color: #DFE1E6;
    box-shadow: none;
    border: 0;
}

header .mdl-layout__header-row .mdl-navigation {
    height: 50px;
}

header img, header amp-img {
    height: 50px;
}

header a, header a:hover, header a:visited {
    color: #DFE1E6;
}

.amp-hamburger div {
    background-color: #DFE1E6;
}

#outer-wrapper .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #DFE1E6;
}

#outer-wrapper .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #EAE6FF;
    color: #6554C0;
}

#outer-wrapper .mdl-layout__drawer-button .material-icons {
    color: #DFE1E6;
}

/* HERO */
.hero {
    display: block;
    overflow: hidden;
    padding: 0;
    position: relative;
    color: #DFE1E6;
    background: #6554C0 none;
    min-height: calc(100vh - 70px);
}

.hero__slogan {
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: #5648A3;
    text-align: center;
}

h1.hero__header {
    width: 100%;
    height: 52px;
    margin: 0 auto;
    padding: 24px 0;
    font-weight: 800;
    line-height: 3.127rem;
    background-color: #5648A3;
}

.hero__background-container {
    margin: 100px 0 0 0;
    background-size: contain;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url("../images/bg-home-1.1.png") no-repeat left top;
}

.hero .top-section {
    z-index: 2;
    width: 100%;
    text-align: right;
    padding: 35px 20px;
    min-height: 475px;
    max-height: 525px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
}

.hero .top-section__container {
    width: 100%;
    margin-top: -300px;
}

.top-section__container .dot {
    width: 12px;
    height: 12px;
    margin: -3px 0;
    background-color: #5648A3;
    border: 1px solid #6E5CD4;
    border-radius: 50%;
    display: inline-block;
}

.hero__sub-header {
    font-size: 1.127rem;
    line-height: 3rem;
}

ul.hero__sub-header {
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}

.hero__sub-header li {
    list-style: none;
}

.hero .mdl-button.learn-more {
    margin-bottom: 0;
    float: none;
    width: auto;
    height: 40px;
    color: #DFE1E6;
}

.hero .mdl-button.learn-more:hover {
    color: #DFE1E6;
}

.hero .mdl-button.learn-more:visited {
    color: #DFE1E6;
}

.top-section__container a {
    float: right;
    margin-left: 15px;
}

.top-section__container .button-action-primary {
    width: 340px;
}

.top-section__container .button-action-secondary {
    width: 180px;
}

/* RESPONSIVE */
@media screen and (max-width: 1280px) {
    .hero .top-section {
        margin: 0;
        max-width: 523px;
    }

    .hero .top-section__container {
        margin-top: -200px;
    }

    .top-section__container a {
        float: right;
        margin-bottom: 15px;
    }

    .top-section__container .button-action-primary,
    .top-section__container .button-action-secondary {
        width: 360px;
    }
}

@media screen and (max-width: 1080px) {
    .hero .top-section {
        min-height: 523px;
    }

    .hero__background-container {
        background: url("../images/bg-home-1.0-960.png") no-repeat left top;
    }
}

@media screen and (max-width: 960px) {
    .hero .top-section__container li:nth-of-type(2){
        display: none;

    }

}

@media screen and (max-width: 768px) {
    .hero .top-section {
        margin: 0 auto;
        max-width: 90%;
    }

    .hero__background-container {
        background: url("../images/bg-home-1.0-660.png") no-repeat center top;
    }

    .hero .top-section__container {
        width: 100%;
        margin-top: -150px;
    }

    .top-section__container .button-action-primary {
        width: 320px;
    }

    .top-section__container .button-action-secondary {
        width: 160px;
    }
}

@media screen and (max-width: 736px) {
}

@media screen and (max-width: 667px) {

}

@media screen and (max-width: 640px) {
    .hero .top-section__container {
        text-align: center;
    }

    .top-section__container a {
        float: none;
    }

    .hero .top-section__container li span,
    .hero .top-section__container li:last-child,
    .top-section__container a:last-child {
        display: none;
    }
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 568px) {
}

@media screen and (max-width: 414px) {
    .hero__background-container {
        background: url("../images/bg-home-1.0-414.png") no-repeat center top;
    }

    .hero .top-section__container {
        text-align: center;
        margin-top: -75px;
    }

    h1.hero__header {
        font-size: 1.2472rem;;
    }
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 360px) {
    .top-section__container .button-action-primary {
        width: 280px;
    }
}

@media screen and (max-width: 320px) {
}